body {
  background-color: rgb(242, 242, 242);
}

.alertAnimated {
  position: fixed;
  z-index: 1000000;
  animation-name: alertAnim;
  animation-duration: 5s;
  animation-iteration-count: 10s;
}

@keyframes alertAnim {
  from {
    transform: translateX(90px);
  }
  to {
    transform: translateX(-90px);
    opacity: 0;
    display: none;
  }
}
